<section class="conference-manage-container">
  <p-confirmdialog></p-confirmdialog>
  <h1 class="manage-title">{{ conferenceTitle() }}</h1>
  <p class="subtitle">{{ 'CONFERENCE.MANAGE.SUBTITLE' | translate }}</p>

  <div class="actions" *ngIf="conferenceId() as id">
    <a class="action-link" [routerLink]="['/conference', id, 'edit']">
      <i class="pi pi-cog"></i>
      <span>{{ 'CONFERENCE.MANAGE.ACTIONS.CONFIG' | translate }}</span>
    </a>
    <a class="action-link" [routerLink]="['/conference', id, 'sessions', 'import']">
      <i class="pi pi-download"></i>
      <span>{{ 'CONFERENCE.MANAGE.ACTIONS.IMPORT' | translate }}</span>
    </a>
    <a class="action-link" [routerLink]="['/conference', id, 'allocation']">
      <i class="pi pi-calendar"></i>
      <span>{{ 'CONFERENCE.MANAGE.ACTIONS.ALLOCATION' | translate }}</span>
    </a>
    <a class="action-link" [routerLink]="['/conference', id, 'sessions']">
      <i class="pi pi-list"></i>
      <span>{{ 'CONFERENCE.MANAGE.ACTIONS.SESSIONS' | translate }}</span>
    </a>
    <a class="action-link" [routerLink]="['/conference', id, 'speakers']">
      <i class="pi pi-users"></i>
      <span>{{ 'CONFERENCE.MANAGE.ACTIONS.SPEAKERS' | translate }}</span>
    </a>
  </div>

  <div class="danger-zone" *ngIf="conferenceId()">
    <button
      pButton
      type="button"
      severity="danger"
      icon="pi pi-trash"
      [label]="'CONFERENCE.MANAGE.DELETE_BUTTON' | translate"
      [loading]="deleting()"
      (click)="confirmDeleteConference()"
    ></button>
    @if (deleteError()) {
      <p class="delete-error">{{ deleteError() }}</p>
    }
  </div>
</section>
