@let conf = conference();
<div class="conference-view-container">
  @if (!conf) {
    <p>{{ 'CONFERENCE.LOADING' | translate }}</p>
  } @else {
    @let range = conferenceDateRange(conf);
    @if (range && range.start && range.end) {
      <div class="conference-dates">
        <strong>{{ 'HOME.CONF_DATES' | translate }}:</strong>
        {{ range.start | date : 'dd MMM yyyy' }}
        @if (range.start !== range.end) {
          - {{ range.end | date : 'dd MMM yyyy' }}
        }
      </div>
    }
    <div>
      {{ conf.location }}
    </div>
    @if (conf.description[lang()]) {
      <div>
        <strong>{{ 'CONFERENCE.DESCRIPTION' | translate }}:</strong>
        <span>{{ conf.description[lang()] }}</span>
      </div>
    }
    @if (conf.website) {
      <div class="website">
        <span>Site web:</span>
        <a [href]="conf.website" target="_blank" rel="noopener noreferrer">{{ conf.website }}</a>
      </div>
    }
    <div class="cfp">
      @if (cfpDateRange(conf); as cfpRange) {
        <div class="cfp-dates">
          <strong>CFP:</strong>
          {{ cfpRange.start | date : 'dd MMM yyyy' }} - {{ cfpRange.end | date : 'dd MMM yyyy' }}
        </div>
      }
      @if (conf.cfp.website) {
        <a [href]="conf.cfp.website" target="_blank" rel="noopener noreferrer">{{ conf.cfp.website }}</a>
      }
    </div>
    @if (currentPerson() && (visibleActivities().length > 0 || canManageConference())) {
    <div style="margin-top: 1rem;">
      <div class="activity-list"> 
        @if (canManageConference()) {
        <div class="activity" [routerLink]="['/conference', conf.id, 'manage']">
            <div class="activity-icon pi pi-cog"></div>
            <div class="activity-name">Gerer la conference</div>
        </div>
        }
        @for (activity of visibleActivities(); track activity.id) {
          <div class="activity" [routerLink]="['/conference', conf.id, 'activities', activity.id, 'participation']">
            <div class="activity-icon pi {{ activity.icon }}"></div>
            <div class="activity-name">{{ activity.name }}</div>
          </div>
        }
      </div>
    </div>
    }
  }
</div>
