.conference-view-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column
}

.activity-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 12px;
}
.activity {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .activity-icon {
    font-size: 5rem;
    color: #1976d2;
  }
}